{{- $email := promptStringOnce . "email" "e-Mail address" -}}
{{- $profileChoices := list "work" "personal" -}}
{{- $profile := promptChoiceOnce . "profile" "What configuration profile should be used" $profileChoices -}}

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}

[edit]
    command = "nvim"

[git]
    autoCommit = true
    autoPush = true

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = ["-d", "{{ `{{` }} .Source }}", "{{ `{{` }} .Destination }}", "{{ `{{` }} .Target }}"]

