{{- $emailPrimary := promptStringOnce . "emailPrimary" "primary e-mail address" -}}
{{- $emailSecondary := promptStringOnce . "emailSecondary" "secondary e-mail address" -}}
{{- $profileChoices := list "work" "home" -}}
{{- $profile := promptChoiceOnce . "profile" "What configuration profile should be used" $profileChoices -}}

[data]
    profile = {{ $profile | quote }}

[data.email]
    primary = {{ $emailPrimary | quote }}
    secondary = {{ $emailSecondary | quote }}

[edit]
    command = "nvim"

[git]
    autoCommit = true
    autoPush = true

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = ["-d", "{{ `{{` }} .Source }}", "{{ `{{` }} .Destination }}", "{{ `{{` }} .Target }}"]

