{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $profile := promptStringOnce . "profile" "chezmoi profile" -}}

[data]
    email = {{ $email | quote }}
    profile = {{ $profile | quote }}

[edit]
    command = "nvim"

[git]
    autoCommit = true
    autoPush = true

[diff]
  pager = "delta"

[merge]
  command = "nvim"
  args = ["-d", "{{ `{{` }} .Source }}", "{{ `{{` }} .Destination }}", "{{ `{{` }} .Target }}"]

