[user]
	name = Travis Lyons
  email = {{ .email.primary }}
{{- if eq .profile "work"}}
  signingkey = {{ onepasswordRead "op://Employee/GitHub SSH Key/public key" }}
{{- end }}
{{- if eq .profile "home"}}
  signingkey = {{ onepasswordRead "op://Private/SSH Key/public key" }}
{{- end }}

[core]
	autocrlf = input
	pager = delta
	excludesFile = ~/.gitignore

[interactive]
	diffFilter = delta --color-only

[delta]
  navigate = true

[merge]
  conflictStyle = zdiff3

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[init]
	defaultBranch = main

[alias]
	lg = log --color --graph --pretty=format:'%C(yellow)%d%Creset %C(bold blue)%h%Creset %C(green)(%cr)%Creset - %s %C(bold blue)<%an>%Creset' --abbrev-commit --all

	lga = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset%n        %C(white)Hash:%C(reset) %C(cyan)%H%Creset%n        %C(white)Date:%C(reset) %C(cyan)%ai%Creset' --abbrev-commit --stat --all
  co = checkout
  br = branch
  ci = commit
  st = status

[gpg]
  format = ssh

[gpg "ssh"]
{{- if eq .profile "work"}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ else }}
  program = "/opt/1Password/op-ssh-sign"
{{- end }}

[commit]
  gpgsign = true

[push]
  autoSetupRemote = true

[pull]
  rebase = true
