export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="robbyrussell"
COMPLETION_WAITING_DOTS="true"
{{ if eq .chezmoi.os "darwin" }}
plugins=(colorize fast-syntax-highlighting fzf git mise ssh zsh-autocomplete zsh-autosuggestions zsh-syntax-highlighting brew macos)
{{ else }}
plugins=(colorize fast-syntax-highlighting fzf git mise ssh zsh-autocomplete zsh-autosuggestions zsh-syntax-highlighting)
{{ end }}
source $ZSH/oh-my-zsh.sh

#### BEGIN USER CONFIGURATION ####
alias vi=nvim
alias vim=nvim

eval "$(mise activate zsh)"
eval "$(atuin init zsh)"

{{ if eq .profile "home"}}
#### BEGIN HOME PROFILE ####
export AMP_API_KEY={{ onepasswordRead "op://Private/Amp API Key/credential" }}
#### BEGIN HOME PROFILE ####
{{ end }}

{{ if eq .profile "work"}}
#### END WORK PROFILE ####
export AMP_API_KEY={{ onepasswordRead "op://Employee/Amp API Key/credential" }}
export SRC_ACCESS_TOKEN={{ onepasswordRead "op://Employee/demo.sourcegraph.com API Token/password" }}
export SRC_ENDPOINT={{ onepasswordRead "op://Employee/demo.sourcegraph.com API Token/website" }}

export SRC_BATCH_TMP_DIR=~/.batch_change_tmp
export PATH="/opt/homebrew/opt/postgresql@16/bin:$PATH"
export PATH="~/Library/Application\ Support/JetBrains/Toolbox/scripts/:$PATH"
autoload -Uz compinit && compinit
PROG=sg source /Users/trly/.sourcegraph/sg.zsh_autocomplete
source /Users/trly/google-cloud-sdk/completion.zsh.inc
source /Users/trly/google-cloud-sdk/path.zsh.inc
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
#### END WORK PROFILE ####
{{ end }}

#### END USER CONFIGURATION ####
