# SSH allowed signers for Git commit/tag verification
{{ if eq .profile "personal" }}
{{ .email.primary }} namespaces="git" {{ onepasswordRead "op://Private/SSH Key/public key" }}
{{- else if eq .profile "work" }}
{{ .email.secondary }} namespaces="git" {{ onepasswordRead "op://Employee/ibtmymhhjxy5ofqryhgw2x7yvi/public key" }}
{{- end }}
