Host *
	AddKeysToAgent yes
	ServerAliveInterval 60
	ServerAliveCountMax 3
{{ if eq .chezmoi.os "darwin" }}
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ else }}
	IdentityAgent "~/.1password/agent.sock"
{{ end }}

{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}
Host aur.archlinux.org
  IdentityFile ~/.ssh/aur
  User aur
{{ end }}


