# Appearance
window-theme = ghostty
theme = light:Catppuccin Latte,dark:Catppuccin Frappe
font-family="IosevkaTermSlab Nerd Font Mono"
font-size=16
mouse-hide-while-typing=true
background-opacity=.95
background-blur=true
maximize = true

# Integration management
shell-integration-features = ssh-env

# Quick Terminal
quick-terminal-position=top
keybind = global:alt+grave_accent=toggle_quick_terminal

