# Appearance
theme = light:Gruvbox Light,dark:Gruvbox Dark
font-family="MonaspiceKr Nerd Font Mono"
font-size=18
mouse-hide-while-typing=true
background-opacity=.95
background-blur=true
maximize

# Integration management
shell-integration-features = ssh-env

# Quick Terminal
quick-terminal-position=top
keybind = global:alt+grave_accent=toggle_quick_terminal

