# Appearance
window-theme = ghostty
theme = light:Catppuccin Latte,dark:Catppuccin Frappe
font-family="IosevkaTermSlab Nerd Font Mono"
{{- if eq .chezmoi.hostname "6cf90a5e80be" }}
font-size=24
{{- else }}
font-size=16
{{- end}}
mouse-hide-while-typing=true
background-opacity=.95
background-blur=true
maximize = true

# Integration management
shell-integration-features = ssh-env

# Quick Terminal
quick-terminal-position=top
keybind = global:alt+grave_accent=toggle_quick_terminal

# Panes (ctrl+p prefix)
keybind = ctrl+p>h=new_split:left
keybind = ctrl+p>j=new_split:down
keybind = ctrl+p>k=new_split:up
keybind = ctrl+p>l=new_split:right

