{
  "mcpServers": {
    {{- if eq .profile "work" }},
    "sourcegraph": {
      "url": "{{ onepasswordRead "op://Employee/demo.sourcegraph.com API Token/website" }}/.api/mcp/v1"
    }{{- end }}
  }
}
