# See https://wiki.hyprland.org/Configuring/Monitors/
# List current monitors and resolutions possible: hyprctl monitors
# Format: monitor = [port], resolution, position, scale
# You must relaunch Hyprland after changing any envs (use Super+Esc, then Relaunch)

{{- if eq .chezmoi.hostname "stardust" }}
env = GDK_SCALE,1
monitor = HDMI-A-1, preferred, auto-left, 2
monitor = DP-1, preferred, auto, 1
{{- end }}

