"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Travis Lyons"
email = "{{ .email.primary }}"

{{- if eq .profile "work"}}
[[--scope]]
--when.repositories = ["~/src/github.com/trly"]

[--scope.user]
email = "{{ .email.secondary }}"
{{- end }}

[ui]
pager = "delta"
default-command = "log"

[ui.diff]
format = "git"
editor = "nvim"

