"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Travis Lyons"
email = "{{ .email }}"

{{- if eq .profile "work"}}
[[--scope]]
--when.repositories = ["~/src/github.com/trly"]

[--scope.user]
email = "{{ .email }}"
{{- end }}

[ui]
pager = ["sh", "-c", "diff-so-fancy | less -RFX"]
editor = "nvim"

