{
  "amp.dangerouslyAllowAll": true,
{{- if eq .profile "work" }}
  "amp.experimental.planMode": true,
{{- end }}
  "amp.mcpServers": {
    "playwright": {
      "command": "npx",
      "args": ["-y", "@playwright/mcp@latest", "--headless", "--isolated"]
    },
{{- if eq .profile "work"}}
    "sourcegraph": {
      "url": "https://demo.sourcegraph.com/.api/mcp/v1",
      "headers": {
        "Authorization": "token {{ onepasswordRead "op://Employee/25gdp5ksdjzdlnvv3k4ucyukdy/password" }}"
      }
    }
{{- end }}
  }
}
