{
  "amp.dangerouslyAllowAll": true,
  "amp.mcpServers": {
    "playwright": {
      "command": "npx",
      "args": ["-y", "@playwright/mcp@latest", "--headless", "--isolated"]
    },
    "sourcegraph": {
      "url": "https://demo.sourcegraph.com/.api/mcp/v1",
      "headers": {
        "Authorization": "token {{ onepasswordRead 'op://25gdp5ksdjzdlnvv3k4ucyukdy/password' }}"
      }
    }
  }
}
